<nav class="flex justify-between p-4 bg-purple-900 text-white">
  <div>
    <a routerLink="/">Book Shop</a>
  </div>
  <div>
    <a routerLink="cart" class="mx-4">Cart</a>
    <ng-container *ngIf="!isAuthenticated()">
      <a routerLink="login" class="mx-4">Login</a>
      <a routerLink="register" class="mx-4">Register</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <button class="mx-4" (click)="logout()">Logout</button>
    </ng-container>

  </div>
</nav>
<div class="container">
  <router-outlet/>
</div>
